@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.u-center-text {
  text-align: center; }

.u-margin-bottom-8 {
  margin-bottom: 8rem; }

.btn:link, .btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.7rem 2.2rem;
  display: inline-block;
  transition: all 0.2s;
  position: relative;
  color: #777;
  font-size: 1.6rem;
  background: #fff;
  font-size: 1.3rem;
  margin: 0 1rem; }

.btn-round {
  text-decoration: none;
  text-transform: uppercase;
  padding: 1rem 1.7rem;
  display: inline-block;
  transition: all 0.2s;
  position: relative;
  color: #777;
  font-size: 1.6rem;
  background: #fff;
  font-size: 1.3rem;
  margin: 0 1rem;
  border-radius: 100px;
  font-size: 1.5rem; }

.btn-oval {
  border-radius: 10rem; }

.btn-square {
  border-radius: 0.5rem; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.5) scaleY(1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(-0.1rem);
  color: #777;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s; }

.btn--white {
  background: #fff; }
  .btn--white::after {
    background: #fff; }

.box__grid-box {
  border: 1px solid black;
  margin: 0;
  padding: 0; }

.hidden {
  display: none; }

.hover-popup {
  height: 2rem;
  width: 11rem;
  padding: 0.3rem;
  background: linear-gradient(to bottom, #55c57a, #7ed56f);
  position: absolute;
  top: 0;
  left: 0; }

.sidebar {
  position: absolute;
  right: 0;
  top: 0;
  width: 30rem;
  height: 100%;
  background: linear-gradient(to bottom, #7ed56f, #28b485);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: moveInLeft 0.15s ease-out; }
  .sidebar__cross-btn {
    position: absolute;
    top: 0;
    right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    transition: all; }
  .sidebar__cross-btn:hover {
    animation: spin 0.15s ease-in-out; }

.add-card {
  height: 26rem;
  width: 20rem;
  background-color: #000;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center; }

.add-card-container {
  width: 40vw;
  height: 80vh;
  background: linear-gradient(to bottom, #7ed56f, #28b485);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 100; }
  .add-card-container__heading {
    margin-top: 2rem; }
  .add-card-container__line {
    border-bottom: 3px solid #fff;
    display: block;
    width: 40%;
    margin-top: 1rem;
    margin-left: 50%;
    transform: translate(-50%);
    margin-bottom: 4rem; }
  .add-card-container__cross {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 2rem;
    margin-right: 1rem;
    cursor: pointer; }
  .add-card-container__grid-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem; }
    .add-card-container__grid-row__1 {
      flex: 1; }
      .add-card-container__grid-row__1-grid {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        .add-card-container__grid-row__1-grid-row {
          margin: 0.5rem 0;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center; }
          .add-card-container__grid-row__1-grid-row__title {
            flex: 1;
            margin-right: 0.5rem;
            font-size: 1.2rem;
            font-weight: 700;
            color: #fff; }
          .add-card-container__grid-row__1-grid-row__input {
            flex: 1;
            height: 3rem; }
    .add-card-container__grid-row__2 {
      flex: 1; }

.up-img {
  height: 1.2rem; }

.image-picker {
  opacity: 0;
  width: 0.5rem; }

.input-field {
  height: 3rem;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 0.7rem; }

.input-area {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 0.7rem; }

.u-mt-5 {
  margin-top: 5.5rem; }

.u-mt-10 {
  margin-top: 1rem; }

.u-ml-5 {
  margin-left: 1.4rem; }

.u-ml {
  margin-left: 0.8rem; }

.account-card {
  padding: 2rem;
  width: 20.5rem;
  border-radius: 1rem;
  background-color: black; }
  .account-card__img {
    width: 16rem;
    height: 12rem;
    margin: 0 auto;
    border-radius: 0.5rem; }
  .account-card__dimension {
    display: flex;
    justify-content: space-around; }
    .account-card__dimension--left {
      display: flex;
      justify-content: flex-start;
      flex: 1;
      color: #d0b856; }
    .account-card__dimension--right {
      display: flex;
      justify-content: flex-end;
      flex: 1;
      color: #d0b856; }
  .account-card__info {
    display: flex;
    flex-direction: column;
    line-height: 1.3;
    font-size: 0.8rem;
    margin-top: 1rem; }
    .account-card__info__name {
      display: grid;
      grid-template-columns: 3rem 1fr;
      column-gap: 1rem;
      column-gap: 0.5rem;
      margin-bottom: 1rem; }
      .account-card__info__name--name {
        text-align: start;
        color: rgba(143, 135, 135, 0.811); }
      .account-card__info__name--description {
        text-align: justify;
        font-size: 0.7rem;
        flex: 1;
        color: rgba(143, 135, 135, 0.811); }
  .account-card__bio {
    display: grid;
    grid-template-columns: 3rem 1fr;
    column-gap: 0.5rem; }
    .account-card__bio--bio {
      text-align: start;
      color: rgba(143, 135, 135, 0.811); }
    .account-card__bio--description {
      text-align: justify;
      font-size: 0.7rem;
      flex: 1;
      color: rgba(143, 135, 135, 0.811); }

.u-margintop-1 {
  margin-top: 1rem; }

.mint-modal {
  width: 70vw;
  height: 70vh;
  background: linear-gradient(to bottom right, #7ed56f, #28b485);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  text-align: center;
  color: white;
  font-size: 1.3rem; }
  .mint-modal__heading {
    margin-top: 4rem; }
  .mint-modal__cross {
    color: black;
    font-size: 1.8rem;
    position: absolute;
    right: 1.5rem;
    font-weight: 700;
    cursor: pointer; }

.header {
  height: 7rem;
  background: linear-gradient(to right, #7ed56f, #28b485);
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 0.5rem solid white; }
  .header__logo-box {
    flex: 1;
    margin-left: 1.5rem; }
    .header__logo-box__logo {
      height: 2.4rem;
      margin-right: 1rem; }
    .header__logo-box__text {
      font-size: 2rem;
      font-weight: 700; }
  .header__profile-box {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 2rem; }
    .header__profile-box__account, .header__profile-box__theme {
      height: 2.4rem;
      cursor: pointer; }
    .header__profile-box__account:hover, .header__profile-box__theme:hover {
      transform: translateY(-0.3rem); }

.footer {
  height: 7rem;
  background: linear-gradient(to right, #7ed56f, #28b485);
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 0.5rem solid white; }
  .footer__copyright-box {
    flex: 1; }
    .footer__copyright-box__text {
      margin-left: 1rem;
      font-size: 1.2rem;
      font-weight: 600; }
  .footer__buy-box {
    flex: 1;
    text-align: center; }
  .footer__social-box {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    margin-right: 2rem; }
    .footer__social-box__socail {
      margin-right: 1rem; }
    .footer__social-box__socail:hover {
      transform: translateY(-0.1rem);
      cursor: pointer; }

.main {
  height: 76vh;
  background-color: #000;
  padding: 3rem;
  position: relative; }
  .main__grid-box {
    display: grid;
    grid-template-columns: repeat(56, 1fr);
    grid-template-rows: repeat(90, 1fr);
    background-color: #fff;
    width: 100%;
    height: 100%; }

.hidden {
  display: hidden; }

.box {
  border: 1px solid black; }

.mint {
  background-color: #000;
  height: 95vh;
  padding: 3rem;
  position: relative; }

.mint-container {
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #7ed56f, #28b485);
  text-align: center;
  position: relative; }
  .mint-container__heading {
    color: white;
    margin-bottom: 2rem; }
  .mint-container__pricebox {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-top: 32rem; }
    .mint-container__pricebox__pricename {
      margin-right: 1rem;
      color: white;
      font-size: 1.5rem;
      font-weight: 700; }
    .mint-container__pricebox__input {
      background-color: transparent;
      border: none;
      text-align: center;
      border-bottom: 1px solid #f2da89;
      font-size: 1.5rem;
      width: 15rem; }

.mint-card-container {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  row-gap: 3rem;
  column-gap: 3rem;
  position: absolute;
  left: 50%;
  transform: translate(-50%); }

.mint-card {
  height: 13rem;
  width: 17rem;
  border-radius: 1.3rem;
  background: linear-gradient(to bottom right, #d0b856, #f2da89, #c47529, #c47529);
  margin-bottom: 2rem;
  position: relative;
  box-shadow: 2px 2px 2px; }
  .mint-card__heading {
    color: #000;
    font-size: 1.3rem;
    font-weight: 700; }
  .mint-card__price {
    color: #fff;
    font-size: 1.3rem;
    font-weight: 700;
    margin: 0.5rem 0; }
  .mint-card__counter-box {
    width: 10rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: 8px;
    background-color: #b3aeae;
    border: 0.5px solid #777;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-top: 2rem;
    box-shadow: 2px 2px 3px; }
    .mint-card__counter-box--inc {
      text-decoration: none;
      color: #000;
      font-size: 1.2rem;
      font-weight: 700;
      border-right: 1px solid black; }
    .mint-card__counter-box--count {
      color: #000;
      font-size: 1.2rem;
      font-weight: 700; }
    .mint-card__counter-box--dec {
      text-decoration: none;
      color: #000;
      font-size: 1.2rem;
      font-weight: 700;
      border-left: 1px solid black; }

.seperator {
  border-bottom: 2px solid #f2da89;
  display: block;
  width: 60rem;
  margin-top: 36rem;
  position: absolute;
  left: 50%;
  transform: translate(-50%); }

.u-mt {
  margin-top: 40rem; }

.account {
  height: 76vh;
  background-color: #000;
  padding: 3rem;
  position: relative; }
  .account__card-container {
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, #7ed56f, #28b485);
    display: flex;
    justify-content: space-evenly;
    align-items: center; }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5; }

hidden {
  display: none; }
